<section id="secLinks" class="col-md-12 csc-menu">
    <div class="col-md-4"></div>
    <div class="csc-menu-item col-md-2">
        <a ui-sref="grid">
            <img src="/cscplanejamento/Content/images/img-btn-pesquisa-satisfacao.png" style="max-width:100px" />
            <h6>RELATÓRIO COM GRID</h6>
        </a>
    </div>
    <div class="csc-menu-item col-md-2">
        <a ui-sref="table">
            <img src="/cscplanejamento/Content/images/img-btn-custo-diario.png" style="max-width:100px" />
            <h6>RELATÓRIO COM TABELA</h6>
        </a>
    </div>
    <div class="col-md-4"></div>
</section>
